body {
    background-image: linear-gradient(45deg, #77d0cf, #75b3cf, #afd9d5, #d5d8d7, #bed5de, );
}

/* .rounded-top{
    background-color: rgb(245, 241, 245); 
    height:200px;
} */

.navbar {
    background-color: #80dff0;
    flex: 0 0 100%;
    width:auto;
  }
  
  .nav-item {
    margin: 0 1em 0 1em;
    font-size: 0.9em;
  }
.about{
    padding: 10% 0% 0% 5%;
}

.nav-link{
    background-color: transparent;
    border: none;
}

.posts{
    padding: 0% 0% 5% 5%;
}

.pics{
    padding: 0% 3% 0% 0%;
    width: 25%;
}

.post-button{
    padding: 0% 0% 5% 4%;
}

.card-image {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 300px;
    height: 420px;
}

.card-img-top{
    width: 287px;
    height: 240px;
}



