*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-font-family:'Poppins', sans-serif;
    --light-white: #f5f8fa;
    --gray:rgb(116, 111, 111);
    --light-gray:rgb(184, 183, 183);
}

body{
    font-family: var(--primary-font-family);
    font-size: 0.9rem;
    background-color: linear-gradient(135deg, #70e4df, #78e1df, #8ae4df,#85e6df,#94e4e0,#a7dde1,#aedae1,#b7e0e1,#c0e0e2,
  #cae2e3,#d6e5e3,#e1e0e3,#e9e1e3,#efe5e3,#f5e9e2,#fdece3);
  background-image: url("images/world.png");
}

.wrapper{
    padding: 0 30px 30px 30px ;
    max-width: 100%;
}

.wrapper input{
    background-color: var(--light-white);
    border-color: var(--light-white);
    color: var(--gray);
}
.wrapper input:focus{
    box-shadow: none;
}

.submit_btn{
    padding: 0.5rem;
}

.wrapper .submit_btn,login_with{
    box-shadow: none;
}

.about{
    padding: 0% 0% 0% 5%;
    font-size: 1.25rem;
}

.info{
    font-size: 0.75rem;
}

@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
}